<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ershou.ershou.mapper.MenuMapper">


    <select id="selectPermsByUserId" resultType="com.ershou.ershou.domain.po.Menu">
        select
            distinct sm.*
        from
            sys_admin_role sur
                LEFT JOIN sys_role sr
                          on
                              sur.role_id = sr.role_id
                LEFT JOIN sys_role_menu srm
                          on
                              sr.role_id = srm.role_id
                LEFT JOIN sys_menu sm
                          on
                              srm.menu_id = sm.menu_id
        where sur.admin_id = #{adminId} and sr.role_status = 0 and sm.menu_status = 0 and sm.perms is not null
    </select>
</mapper>